<ion-content class="perfil-content">

  
  <div class="logo-container">
  <img src="/assets/img/LogoRincones.png" alt="Logo RINCONES" class="logo">
  </div>


  <div class="perfil-card">
    <h2>Perfil de Usuario</h2>

    <div class="perfil-info">
      <div class="info-text">
        <p><strong>Nombre:</strong> Yesika Alexandra Rodriguez</p>
        <p><strong>Correo electrónico:</strong> yalexrodriguez&#64;gmail.com</p>
        <p><strong>Número de teléfono:</strong> (+57)3173376915</p>
      </div>
      <div class="info-foto">
        <img src="/assets/img/Perfil.png" alt="foto perfil" />
        <ion-button size="small" class="editar-btn">Editar Perfil</ion-button>
      </div>
    </div>

    <ion-list class="opciones">
      <ion-item lines="full">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label>Métodos de pago</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Preferencias</ion-label>
      </ion-item>
    </ion-list>

    <div class="ajustes">
      <a href="#">Ajustes.</a>
      <a class="cerrar-sesion" href="#">Cerrar sesión.</a>
    </div>

    <div class="contactos">
      <ion-label>Contactos:</ion-label>
      <div class="iconos">
        <ion-icon name="call-outline"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="mail-unread-outline"></ion-icon>
      </div>
    </div>

  </div>
</ion-content>