.reserva-form {
  padding: 16px;
}

ion-card {
  margin: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

ion-card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

ion-item {
  margin-bottom: 12px;
  border-radius: 8px;
  --background: #5f5d5d;
}

ion-button {
  margin-top: 16px;
}
