<ion-content class="reserva-form">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirma tu reserva</ion-card-title>
    </ion-card-header>
    <ion-card-content>
         <ion-item>
        <ion-label position="floating">Reserva a nombre de</ion-label>
        <ion-input type="name" [(ngModel)]="nombre"></ion-input>
       </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha y Hora</ion-label>
        <ion-input 
          readonly 
          [value]="fechaHoraFormatted" 
          (click)="abrirDatetime()"
        ></ion-input>
      </ion-item>

      <ion-datetime
        *ngIf="mostrarDatetime"
        presentation="date-time"
        [showDefaultButtons]="true"
        preferWheel="false"
        (ionChange)="onFechaHoraChange($event)"
        (ionCancel)="cerrarDatetime()"
      ></ion-datetime>

      <ion-item>
        <ion-label position="floating">Personas</ion-label>
        <ion-input type="number" [(ngModel)]="personas"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="confirmarReserva()">
        Confirmar Reserva
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
