
.reserva-content {
  padding: 16px;
  --background: url('/assets/img/FondoPantallaInicial.png') no-repeat center center / cover;

  ion-card {
    margin-bottom: 16px;
    background: #dcd9d9;
    box-shadow: 0 2px 8px rgb(2, 5, 13);

    ion-card-header {
      background-color: #ffffff;
    }

    ion-card-title {
      font-weight: bold;
      font-size: 1.2rem;
      color:#000000;
    }

    ion-card-subtitle {
      font-size: 0.95rem;
      color: #000000;
    }

    ion-card-content {
      p {
        margin: 4px 0;
        font-size: 0.95rem;
        color: #433f3f;
      }

      ion-button {
        margin-top: 12px;
      }
    }
  }
}
