<ion-content fullscreen>
  <!-- Fondo -->
  <div class="background-image"></div>

  <!-- Banner -->
  <div class="banner" color="light">
    <h2>Encuentra los mejores<br>restaurantes de tu ciudad!</h2>
  </div>

  <!-- Buscador -->
  <ion-item lines="none" class="search-bar">
    <ion-icon name="search" slot="start"></ion-icon>
    <ion-input placeholder="Restaurante, Ciudad ..." type="text"></ion-input>
    <ion-icon name="mic" slot="end"></ion-icon>
  </ion-item>

  <!-- Categorías -->
  <div class="category-slider">
    <div class="category-row">
      <div class="category">
        <img src="/assets/img/Asiatica.png" />
        <p>Asiática</p>
      </div>
      <div class="category">
        <img src="/assets/img/Hamburguesa.png" />
        <p>Comida rápida</p>
      </div>
      <div class="category">
        <img src="/assets/img/Coctel.png" />
        <p>Bares</p>
      </div>
      <div class="category">
        <img src="/assets/img/Postre.png" />
        <p>Postres</p>
      </div>
    </div>
  </div>

  <!-- Sección Restaurantes -->
  <div class="section">
    <div class="section-header">
      <p>Restaurantes</p>
      <a>Todos</a>
    </div>
    <div class="restaurant-list">
      <img src="/assets/img/Restaurante1.png" class="restaurant-img" />
      <img src="/assets/img/Restaurante2.png" class="restaurant-img" />
      <img src="/assets/img/Pizza.jpg" class="restaurant-img" />
    </div>
  </div>

  <!-- Sección Nuevos -->
  <div class="section">
    <div class="section-header">
      <p>Restaurantes Nuevos</p>
      <a>Todos</a>
    </div>
    <div class="restaurant-list">
      <img src="/assets/img/Restaurante3.png" class="restaurant-img" />
      <img src="/assets/img/Restaurante4.png" class="restaurant-img" />
      <img src="/assets/img/Sushi.jpg" class="restaurant-img" />
    </div>
  </div>
</ion-content>